<div
  class="flex flex-col card"
  [ngClass]="{
  'bg-linear-gradient-temperature': sensor.type === 'TEMPERATURE',
  'bg-linear-gradient-humidity': sensor.type === 'HUMIDITY',
  'bg-linear-gradient-luminosity': sensor.type === 'LUMINOSITY',
  }"
>
  <div class="flex justify-between pb-4">
    <div class="flex flex-col gap-1">
      <h3 class="text-lg font-medium">{{ sensor.type }}</h3>
      <p class="text-primary">{{ sensor.status }}</p>
    </div>
    <p-button icon="pi pi-cog" rounded text (click)="toggleModal(sensor)" />
  </div>
  <div class="text-gray-400">
    <p>Min: {{ sensor.config.min }}</p>
    <p>Max: {{ sensor.config.max }}</p>
    <p>Alert threshold: {{ sensor.config.threshold }}</p>
  </div>
</div>

<app-configure-sensor
  [visible]="showModal"
  [sensor]="selectedSensor"
  (close)="toggleModal(selectedSensor)"
/>
