<app-page-view
  title="Nuestros Productos"
  subtitle="Sensores IOT para la Agricultura"
>
  <div class="template-grid my-8">
    <!-- Card del sensor -->
    <p-card styleClass="!overflow-hidden cursor-pointer">
      <ng-template #header>
        <img src="https://image.made-in-china.com/202f0j00IjcbFliylYkW/Handheld-Agriculture-Soil-Moisture-Temperature-and-Moisture-Sensor-for-Agriculture-Greenhouse.webp"
             alt="Sensor de Temperatura" class="w-full aspect-video img">
      </ng-template>
      <ng-template #title>Sensor de Temperatura</ng-template>
      <ng-template #subtitle><span class="text-lg font-medium">$15</span></ng-template>
      <p class="description">Mide la temperatura de manera precisa y en tiempo real, ideal para automatización y monitoreo ambiental.</p>
    </p-card>

    <!-- Puedes replicar este bloque para más sensores -->
    <p-card styleClass="!overflow-hidden cursor-pointer">
      <ng-template #header>
        <img src="https://m.media-amazon.com/images/I/41gs1jMVs6S._AC_UF1000,1000_QL80_.jpg"
             alt="Sensor de Humedad" class="w-full aspect-video">
      </ng-template>
      <ng-template #title>Sensor de Humedad</ng-template>
      <ng-template #subtitle><span class="text-lg font-medium">$12</span></ng-template>
      <p class="description">Mide la humedad relativa del aire, esencial para aplicaciones en invernaderos y cultivos hidropónicos.</p>
    </p-card>

    <p-card styleClass="!overflow-hidden cursor-pointer">
      <ng-template #header>
        <img src="https://www.kusitest.pe/sites/default/files/tool/image/Medidor%20de%20pH%20de%20suelo%2C%20medici%C3%B3n%20de%20temperatura%20y%20humedad%20de%20suelo%2C%20peachimetro%20de%20suelo%20para%20agricultura%20precio%20en%20Peru%2C%20PH-328.%20-Kusitest%20-7.jpg"
             alt="Sensor de PH" class="w-full aspect-video">
      </ng-template>
      <ng-template #title>Sensor de PH</ng-template>
      <ng-template #subtitle><span class="text-lg font-medium">$18</span></ng-template>
      <p class="description">Mide el nivel de acidez del suelo, esencial para el crecimiento de plantas y cultivos.</p>
    </p-card>

    <p-card styleClass="!overflow-hidden cursor-pointer">
      <ng-template #header>
        <img src="https://www.kusitest.pe/sites/default/files/tool/image/Medidor%20de%20pH%20de%20suelo%2C%20medici%C3%B3n%20de%20temperatura%20y%20humedad%20de%20suelo%2C%20peachimetro%20de%20suelo%20para%20agricultura%20precio%20en%20Peru%2C%20PH-328.%20-Kusitest%20-7.jpg"
             alt="Sensor de PH" class="w-full aspect-video">
      </ng-template>
      <ng-template #title>Sensor de PH</ng-template>
      <ng-template #subtitle><span class="text-lg font-medium">$18</span></ng-template>
      <p class="description">Mide el nivel de acidez del suelo, esencial para el crecimiento de plantas y cultivos.</p>
    </p-card>

  </div>
</app-page-view>
