<app-page-view
  title="Analisis y Reporte"
  subtitle="Analiza el estado de tus sensores"
>
  <div class="space-y-4 my-8">
    <div class="text-gray-400">
      <h2 class="text-2xl">Metrics</h2>
      <p><strong>Humedad:</strong> {{ doughnutChartData.datasets[0].data[0] }}°C</p>
      <p><strong>Temperatura:</strong> {{ doughnutChartData.datasets[0].data[1] }}%</p>
      <p><strong>Luminosidad:</strong> {{ doughnutChartData.datasets[0].data[2] }} Lux</p>
    </div>

    <!-- Sección del gráfico -->
    <div class="text-gray-400">
      <h2 class="text-2xl text-center">Graphic</h2>
      <div class="">
        <canvas
          baseChart
          [data]="doughnutChartData"
          [type]="doughnutChartType"
          [options]="chartOptions">
        </canvas>
      </div>
    </div>
  </div>
</app-page-view>

<p-toast position="bottom-right" />
