<app-auth-form>
  <ng-container header>
    <h1>Login</h1>
  </ng-container>

  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
      <div class="w-full">
        <p-floatlabel variant="in">
          <input
            pInputText
            id="username" type="text"
            formControlName="username" autocomplete="off"
            title="Debe tener entre 5 y 50 caracteres"
            minlength="5" maxlength="50" required
          />
          <label for="username">Username</label>
        </p-floatlabel>
        <small *ngIf="form.controls['username'] && form.controls['username'].invalid">
          <span *ngIf="form.controls['username'].errors?.['required']">This field is required</span>
        </small>
      </div>

      <div>
        <p-floatlabel variant="in">
          <p-password
            styleClass="w-full"
            id="password" [toggleMask]="true"
            formControlName="password" autocomplete="off"
          ></p-password>
          <label for="password">Password</label>
        </p-floatlabel>
        <small *ngIf="form.controls['password'] && form.controls['password'].invalid">
          <span *ngIf="form.controls['password'].errors?.['required']">This field is required</span>
        </small>
      </div>

      <p-button
        label="Sign up" type="submit" styleClass="mt-4"
        [loading]="loadingSignUp"
        [disabled]="form.invalid || isSubmitting"
        [icon]="loadingSignUp ? 'pi pi-spin pi-spinner' : 'pi pi-angle-right'"
        [iconPos]="loadingSignUp ? 'left' : 'right'" />
    </form>
  </ng-container>

  <ng-container footer>
    <span class="small-text log-in-redirect">Don’t have an account yet?
      <a routerLink="/register" class="underline font-medium text-green-600">Sign up</a></span>
  </ng-container>
</app-auth-form>
