<app-auth-form>
  <ng-container header>
    <h1>Sign up</h1>
  </ng-container>

  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- First Name -->
      <div class="w-full">
        <p-floatlabel variant="in">
          <input pInputText id="firstname" type="text" formControlName="firstname" autocomplete="off" />
          <label for="firstname">First Name</label>
        </p-floatlabel>
        <small *ngIf="form.controls['firstname'] && form.controls['firstname'].invalid">
          <span *ngIf="form.controls['firstname'].errors?.['required']">This field is required</span>
        </small>
      </div>

      <!-- Last Name -->
      <div class="w-full">
        <p-floatlabel variant="in">
          <input pInputText id="lastname" type="text" formControlName="lastname" autocomplete="off" />
          <label for="lastname">Last Name</label>
        </p-floatlabel>
        <small *ngIf="form.controls['lastname'] && form.controls['lastname'].invalid">
          <span *ngIf="form.controls['lastname'].errors?.['required']">This field is required</span>
        </small>
      </div>

      <!-- Username -->
      <div class="w-full">
        <p-floatlabel variant="in">
          <input
            pInputText
            id="username" type="text"
            formControlName="username" autocomplete="off"
            title="Debe tener entre 5 y 50 caracteres"
            minlength="5" maxlength="50" required
          />
          <label for="username">Username</label>
        </p-floatlabel>
        <small *ngIf="form.controls['username'] && form.controls['username'].invalid">
          <span *ngIf="form.controls['username'].errors?.['required']">This field is required</span>
        </small>
      </div>

      <!-- Password -->
      <div>
        <p-floatlabel variant="in">
          <p-password styleClass="w-full" id="password" [toggleMask]="true" formControlName="password" autocomplete="off"></p-password>
          <label for="password">Password</label>
        </p-floatlabel>
        <small *ngIf="form.controls['password'] && form.controls['password'].invalid">
          <span *ngIf="form.controls['password'].errors?.['required']">This field is required</span>
          <span *ngIf="form.controls['password'].errors?.['minlength']">At least 6 characters</span>
        </small>
      </div>

      <!-- Role Selection -->
      <div class="w-full">
        <p-select id="role" styleClass="!w-full" [options]="roles" formControlName="role" optionLabel="label" placeholder="Select role" class="w-full md:w-56" />
        <small *ngIf="form.controls['role'] && form.controls['role'].invalid">
          <span *ngIf="form.controls['role'].errors?.['required']">Please select a role</span>
        </small>
      </div>

      <!-- Submit Button -->
      <p-button label="Sign up" type="submit" styleClass="mt-4"
                [loading]="isLoading"
                [disabled]="form.invalid || isSubmitting"
                [icon]="isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-user-plus'"
                [iconPos]="isLoading ? 'left' : 'right'" />
    </form>
  </ng-container>

  <ng-container footer>
    <span class="small-text log-in-redirect">Already have an account?
      <a routerLink="/login" class="underline font-medium text-green-600">Log in</a></span>
  </ng-container>
</app-auth-form>
